{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Pycon Israel 2018{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>See you in 2019</h1>
            <p class="lead">
	      PyCon Israel 2018 is over.
	      We've had lots of fun.
	    </p>
	    <p>
	      You can find photos at the following links:
	      <ul>
		<li>Highlights: <a href="https://flic.kr/s/aHsmjKK3tv">https://flic.kr/s/aHsmjKK3tv</a></li>
		<li>Day 1: <a href="https://flic.kr/s/aHsmmvNsAd">https://flic.kr/s/aHsmmvNsAd</a></li>
		<li>Day 2: <a href="https://flic.kr/s/aHskzLB8JR">https://flic.kr/s/aHskzLB8JR</a></li>
	      </ul>
	      Video recordings are available on our
	      <a href="https://www.youtube.com/channel/UC-SbPEAZ4Ik2cowdR_Wyfag">YouTube channel</a>.
	    </p>
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <div class="feature-columns row">
                <div class="col-md">
		  <h3 class="text-center">PyData Track</h3>
		  <p class="desc">
		    Data Science and Engineering have become major fields in the last few years,
		    in the industry in general, and the Python community in particular. PyCon Israel
		    is proud to host a PyData track, for the second year in a row.
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">Django Girls</h3>
		  <p class="desc">
		    <img src="https://djangogirls.org/static/img/global/logo.png" alt="Django Girls logo"
			 style="width: 15ex; float: right; margin-left: 1ex;" />
		    We are proud to cooperate with the <a href="https://djangogirls.org/raanana/">Django Girls</a>
		    workshop, introducing women to programming for the web and beyond. A workshop will
		    be held on <b>June 3</b> at the Red Hat offices in Ra'anana. Registration is now open!
		  </p>
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">Open Source</h3>
		  <p class="desc">
		    <img src="{% static "images/hamakor.png" %}" alt="Hamakor logo"
			 style="width: 15ex; float: right; margin-left: 1ex;" />
		    Python itself, and most of its ecosystem, have always been Open Source software.
		    PyCon Israel is organized under the auspices of <a href="https://www.hamakor.org.il">Hamakor</a>,
		    the Israeli Open Source and Free Software Association.
		  </p>
                </div>
            </div>
	    <div class="feature-columns row">
	      <div class="col-md">
		  <h3 class="text-center">Presentations</h3>
		  <p class="desc">
		    The <a href="../schedule/">schedule</a> is available for your reference.
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">Registration</h3>
		  <p class="desc">
		    Registration is closed.
		    If you have any questions, contact us directly at
		    <a href="mailto:info@pycon.org.il">info@pycon.org.il</a>
		  </p>
                </div>
                <div class="col-md">
		  <h3 class="text-center">Getting there</h3>
		  <p class="desc">
		    Wohl center, Max and Anna Webb st., Ramat Gan.
		    See map in the <a href="./venue/">venue</a> page.
		    There's also a ride-sharing group on
		    <a href="https://chat.whatsapp.com/G7hV6onQD3V0LXJAqMvhmY"><i class="whatsapp-logo">&nbsp;</i> WhatsApp</a> (link works only on mobile).
		  </p>
                </div>
            </div>
        </div>
    {% include "homepage_sponsors.html" %}
    </section>
    {% include "homepage_social.html" %}
</main>
{% endblock %}
